* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

.link-header {
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    margin-right: 43px;
    text-decoration: none;
    cursor: pointer;
}

.link-header:nth-child(2) {
    opacity: 0.40;
}

h1 {
    width: 368px;
    color: #5D5D7D;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;

}

p {
    width: 540px;
    color: #5D5D7D;
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
}